div#results-pane.container
  p.text-center.muted "And the winner is..."
  div.postcard
    h1.text-center #{results[0].hood_metadata.name}
    img(src="#{results[0].hood_metadata.images[0]}")

  div.container
    p #{results[0].hood_metadata.description}
    
    div.scores
      h3 Relevant Scores
      each fid in fids
        if results[0].facet_scores[fid]
          dl
            dt #{facets[fid]}
            dd
              div.progress
                div.bar(style="width: #{results[0].facet_scores[fid] * 100}%")

    div.also
      h3(style="margin-bottom:-15px") You may also like...
      div.otherPlaces
        each other_city in results.slice(1)
            a(href="/results?hood=#{other_city.hood}&facets=#{fids}")
              div.aPlace
                p
                  img(src="#{other_city.hood_metadata.images[0]}", style="float: left")
                  | #{other_city.hood_metadata.name}
